/*
##### INDEX #####
0. GLOBALS
  0.1 Swiper
  0.2 Fonts

1. HOME
  1.1 Especialidades
  1.2 Methodology
  1.3 Query



##### INDEX MOBILE #####
1. HOME - mobile 
  1.1 Specialties - mobile
  

*/


/* 0. GLOBALS */


/* 0.1 Swiper*/

html,
body {
    height: 100%;
    position: relative;
}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-slide {
    background: #fff;
    font-size: 18px;
    text-align: center;
    /* Center slide text vertically */
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-justify-content: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}


/* 0.2 Fonts */

@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'), url('/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'poppins', Courier, monospace;
}


/* Colors */

:root {
    --color-a: #5C1E4C;
    --color-b: #5C3A53;
    --color-c: #A8388C;
    --color-d: #DB49B6;
    --color-e: #E18ECC;
    --color-white: #FFFFFF;
}


/* 1. HOME */


/* 1.1 Specialties */

.border-img {
    border: 0.5rem solid #ffffff;
}

.img-speciality {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 15rem;
    padding: 0px;
}

#containerSpecialities2 {
    border-left: 0.5rem solid #ffffff;
}

.img-speciality-1 {
    background-image: url('/img/speciality_1.jpg');
    height: 30rem;
}

.img-speciality-2 {
    background-image: url('/img/speciality_2.jpg');
    border-bottom: 0.5rem solid #ffffff;
}

.img-speciality-3 {
    background-image: url('/img/speciality_3.jpg');
    border-right: 0.5rem solid #ffffff
}

.img-speciality-4 {
    background-image: url('/img/speciality_4.jpg');
}

.txt-speciality-1 {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    transition: width 1s;
    width: 0%;
}

.txt-speciality-2 {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    display: flex;
    height: 0%;
    justify-content: center;
    overflow: hidden;
    transition: height 1s;
}

.txt-speciality-3 {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    display: flex;
    height: 0%;
    justify-content: center;
    overflow: hidden;
    transition: height 1s;
}

.txt-speciality-4 {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    display: flex;
    height: 0%;
    justify-content: center;
    overflow: hidden;
    transition: height 1s;
}


/* 1.2 Methodology */

.img-methodology {
    align-self: center;
    background-color: rgba(225, 142, 204, 0.2);
    border-radius: 4rem;
    padding: 1rem;
    width: 7rem;
}

.card-methodology {
    border: none;
    width: 100%!important;
}

.card-title-methodology {
    color: var(--color-a);
}

.subtitle-methodology {
    color: var(--color-a);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}


/* 1.3 Query */

.query {
    background-color: rgba(225, 142, 204, 0.2);
    padding: 7rem 7rem;
}

.query p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0px;
}

.btn-query {
    align-items: center;
    border-style: solid;
    border-color: var(--color-a);
    border-width: 0.15rem;
    border-radius: 1rem 1rem 0rem 1rem;
    color: var(--color-a);
    padding: 0.6rem 2rem;
}

.btn-query:hover {
    background-color: var(--color-a);
    color: var(--color-white);
    text-decoration: none;
}

.container-btn-contact {
    justify-content: space-between;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.logo-whatsapp {
    width: 3rem;
}

.btn-whatsapp {
    align-items: center;
}

.btn-whatsapp p {
    color: var(--color-a);
    font-size: 1.2rem;
    margin: 0px;
    margin-right: 0.5rem;
}

.btn-whatsapp p:hover {
    background-color: var(--color-a);
}


/* 1.4 Google Reviews*/

.google-reviews {
    margin-top: 5rem;
}


/* 2. FOOTER */

footer {
    color: var(--color-white);
    background-color: var(--color-a);
    padding: 5rem 7rem;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul:nth-child(1) {
    color: var(--color-white)!important;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

footer ul:nth-child(1) li a {
    color: var(--color-white);
}

footer h4 {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

footer ul:nth-child(1) li {
    border-bottom: 0.1rem solid white;
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* 1.2 Methodology - mobile*/
    .subtitle-methodology {
        font-size: 0.8rem;
    }
    .title-methodology {
        font-size: 1.7rem;
    }
    /* 1.3 Query - mobile */
    .query {
        padding: 4rem 1rem!important;
    }
    .query p {
        text-align: justify;
        margin: 1rem 0rem;
    }
    .query h2 {
        text-align: center;
    }
    .btn-query {
        padding: 0rem 0rem!important;
    }
}


/* `md` applies to small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    /* 1.1 Specialties - mobile*/
    #containerSpecialities2 {
        border-left: 0rem solid #ffffff;
    }
    .img-speciality-2 {
        border-top: 0.5rem solid #ffffff;
    }
}


/* `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    /* 1.3 Query - mobile */
    .query {
        padding: 9rem 3rem;
    }
    .query p {
        font-size: 1.1rem;
        line-height: 2rem;
    }
}


/* `xl` applies to large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

@media (max-width: 1299.98px) {
    /* 1.3 Query - mobile */
    .btn-query {
        width: 100%;
        justify-content: center;
        padding: 0.5rem 1rem;
    }
    .query p {
        font-size: 1rem;
    }
    .btn-whatsapp {
        margin-top: 1rem;
    }
    .btn-whatsapp p {
        margin-right: 0.5rem;
    }
}


/* `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {}